*{
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}


.desktop1{
    position: relative;
    width: 100%;
    height: 754px;
    background-image: url(darktech.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
}

.desktop_left{
    width: 50%;
    height: 85%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.ryan{
    position: relative;
    top: 65px;
    font-family:Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #90D0FF;
}

.developer{
    position: relative;
    top: 40px;
    font-family:Mina;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.logo{
    position: relative;
    width: 229px;
    height: 196px;
    top: 53px;
    background: url(dude.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
}

.desktop_right{
    width: 50%;
    height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.up{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about{
    width: 157px;
    height: 34px;
    background: #FFFFFF;
    border: 3px solid #00A3FF;
    border-radius: 10px;
}

.project{
    width: 157px;
    height: 34px;
    background: #FFFFFF;
    border: 3px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 10px;
}

.contact{
    width: 177px;
    height: 34px;
    background: #FFFFFF;
    border: 3px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 10px;
}

.but{
    width: 157px;
    height: 34px;
    background-color: white;
    border: 3px solid #00A3FF;
    border-radius: 10px;
    color: #00A3FF;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

.develop{
    position: relative;
    line-height: 50px;
    left: 310px;
    top: 48px;
    font-family:Mina;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    text-shadow:
    -0.3px -0.3px 0 #00A3FF,  
    0.3px -0.3px 0 #00A3FF,
     -0.3px 0.3px 0 #00A3FF,
     0.3px 0.3px 0 #00A3FF;;
}

.desktop_bottom{
    width: 100%;
    height: 15%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.python{
    width: 115px;
    height: 100px;
    background: url(python.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ht{
    width: 115px;
    height: 100px;
    background: url(htmlLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cs{
    width: 115px;
    height: 100px;
    background: url(cssLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.js{
    width: 115px;
    height: 100px;
    background: url(jsLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.android{
    width: 115px;
    height: 100px;
    background: url(androidLogo.png);
    opacity: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.kotlin{
    width: 115px;
    height: 100px;
    background: url(kotlin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sql{
    width: 115px;
    height: 100px;
    background: url(sql.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.desktop2{
    position: relative;
    width: 100%;
    height: 754px;
    display: flex;   
    flex-direction: row;
}

